<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF to Audio Converter</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1>PDF to Audio Converter</h1>
        <p class="lead">Upload a PDF file and convert it to an MP3 audio file.</p>
        <!-- Display flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="/" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="pdf_file">PDF File</label>
                <input type="file" class="form-control-file" id="pdf_file" name="pdf_file" required>
            </div>
            <div class="form-group">
                <label for="language">Language</label>
                <select class="form-control" id="language" name="language">
                    <option value="en">English</option>
                    <option value="hr">Hrvatski</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Convert</button>
            <div class="status-message" style="display: none;">
                <p class="text-info">Converting in progress...</p>
            </div>
        </form>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- JavaScript for updating text and showing the status message -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.querySelector('form');
            form.addEventListener('submit', function () {
                var submitButton = form.querySelector('button[type="submit"]');
                submitButton.disabled = true;
                form.querySelector('.status-message').style.display = 'block';
            });
        });
    </script>
</body>

</html>